In [1]:
import pandas as pd
x=pd.DataFrame()
print(x)

Empty DataFrame
Columns: []
Index: []

In [2]:
import pandas as pd
data=[1,2,3,4,5,6]
x=pd.DataFrame(data)
print(x)

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [9]:
import pandas as pd
data=[['raju',24],['ramesh',56],['rajesh',89]]
x=pd.DataFrame(data,index=[1,2,3],columns=['name','age'],dtype=float)
print(x)

     name   age
1    raju  24.0
2  ramesh  56.0
3  rajesh  89.0

In [13]:
import pandas as pd
data={'name':['raju','ravi','rajesh','ramesh'],'age':[12,34,56,65]}
x=pd.DataFrame(data,index=['raj','rav','raje','ram'])
print(x)

      age    name
raj    12    raju
rav    34    ravi
raje   56  rajesh
ram    65  ramesh

In [16]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
x=pd.DataFrame(data,index=["first","second"])
print(x)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [19]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
x=pd.DataFrame(data,index=["first","second"],columns=['a','f1'])
print(x)

        a  f1
first   1 NaN
second  5 NaN

In [26]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
x=pd.DataFrame(d)
print(x)
print(x['one'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [37]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
x=pd.DataFrame(d)
x['three']=pd.Series([11,21,31,41],index=['a','b','c','d'])
x['four']=x['one']+x['two']
del x['one']
x.pop('two')
print(x)

   three  four
a     11   2.0
b     21   4.0
c     31   6.0
d     41   NaN

In [13]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3]),'two' : pd.Series([1, 2, 3, 4])}
y=pd.DataFrame(d,dtype=int)
y=y.drop(0)
print(y)

   one  two
1  2.0    2
2  3.0    3
3  NaN    4

In [19]:
from random import *
for i in range(0,9):
    print(randint(0,9),randint(0,9),randint(0,9),randint(0,9),sep=",")

6,2,1,9
0,3,8,5
4,9,9,8
4,6,1,7
7,4,7,0
8,9,7,0
0,3,2,7
5,2,3,7
4,5,5,4