In [14]:
from datetime import datetime
x=datetime.now()
y=x.strftime("%H:%M %p")
z=x.strftime("%d/%m/%Y")
print(y)
print(z)

12:24 PM
19/09/2019

In [17]:
n=int(input("Enter the number:"))
x=1
for i in range(n):
    for j in range(i):
        print(x,end=" ",sep="*")
        x=x+1
    print()

Enter the number:10

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45

In [18]:
n=int(input("enter the number:"))
for i in range(n,0,-1):
    print(" "*(n-i)+"* "*i)

enter the number:5
* * * * *
 * * * *
  * * *
   * *
    *

In [19]:
n=int(input("enter the number:"))
for i in range(n):
    print(" "*(n-i)+"* "*(i+1))

enter the number:5
     *
    * *
   * * *
  * * * *
 * * * * *

In [21]:
n=int(input("enter the number:"))
for i in range(n):
    print("* "*(i+1),end=" ")
    print()

enter the number:5
*
* *
* * *
* * * *
* * * * *

In [22]:
n=int(input("Enter the number:"))
for i in range(n,0,-1):
    print("* "*i,end=" ")
    print()

Enter the number:5
* * * * *
* * * *
* * *
* *
*

In [44]:
#import keyword
#keyword.kwlist
name="raju"#globale variable
city="banglore"
def first():
    print(name)
def second():
    name="ravi"#local variable 
    print(name)
    print(city)
first()
second()

raju
ravi
banglore

In [21]:
def square(n):
    return n*n
def even(n):
    return n%2==0
def odd(n):
    return n%2!=0
x=[1,2,3,4,5,6,7,8,9,10]
a=list(filter(even,x))
print(a)
b=list(map(square,x))
print(b)
from functools import reduce
c=reduce(lambda i,k:i*k,x)
print(c)

[2, 4, 6, 8, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
3628800

In [9]:
import cx_oracle
con=cx_oracle.connect("host",'localhost','username','password')
cursor=con.cursor()
cursor.execute('select * from student')
records=cursor.fetchall()
print(records)

raju
raju

In [14]:
import pickle
class employee:
    def __init__(self,eno,ename,eadd):
        self.eno=eno
        self.ename=ename
        self.eadd=eadd
    def display(self):
        print(self.eno,'\t',self.ename,'\t',self.eadd)
with open('raju.data','wb') as f:
    e=employee(100,'raju','hyderbad')
    pickle.dump(e,f)
    print("completed pickle module function")
with open('raju.data','rb') as f:
    obj=pickle.load(f)
    obj.display()

completed pickle module function
100 	 raju 	 hyderbad

In [30]:
def count(*agrs):
    total=0
    for i in agrs:
        total=total+i
    return total
count(1,2,3,5)
def count1(name,**data):
    print(name)
    print(data)
count1('raju',a='apple',b='banana',c='carrot')

raju
{'a': 'apple', 'b': 'banana', 'c': 'carrot'}

In [37]:
import copy
x=[1,[2,3],4,5,6]
y=copy.deepcopy(x)
y.append(7)
y[1][0]=777
print(y)
print(x)

[1, [777, 3], 4, 5, 6, 7]
[1, [2, 3], 4, 5, 6]

In [40]:
x=[i for i in range(1,11) if i%2==0]
print(x)
y=[i*10 for i in range(1,11)]
print(y)

[2, 4, 6, 8, 10]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [43]:
x=['a','b','c','d']
y=['apple','banana','carrot','dog']
z={i:j for (i,j) in zip(x,y)}
print(z)
x={i:i*2 for i in range(1,6)}
print(x)

{'a': 'apple', 'b': 'banana', 'c': 'carrot', 'd': 'dog'}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [44]:
n=int(input("enter the numbers"))
a=0
b=1
print(a)
print(b)
for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)

enter the numbers10
0
1
1
2
3
5
8
13
21
34

In [18]:
class student:
        friend="ravi"
        def __init__(self):
            self.name="raju"
            self.age=67
            self.addr="hyd"
a=student()
print(a.friend,a.name,a.age,a.addr)
b=student()
b.friend="ramu"
print(b.friend,b.name,b.age,b.addr)

ravi raju 67 hyd
ramu raju 67 hyd

In [46]:
lower=int(input("enter the number:"))
upper=int(input("enter the number:"))
for i in range(lower,upper+1):
    if i>0:
        for j in range(2,i):
            if i%j==0:
                break
        else:
                print(i)

enter the number:1
enter the number:10
1
2
3
5
7

In [51]:
from random import *
print(randint(1,9),randint(1,9),randint(0,9),randint(0,9),end=" ")

6 3 5 5

In [73]:
from random import *
for j in range(9):
    x=randint(7,9)
    y=""+str(x)
    for i in range(9):
        y=y+str(randint(0,9))
    print(y)
print()

7040436152
8819954638
8035232299
8044276768
7902119503
7103079833
8268926414
9506057724
8190566573

In [76]:
a=10
b=25 
print(a) if a>b else print(b)

25

In [95]:
def outer(func):
    def inner(name):
        if name=="raju":
            print("hii raju bad morinig")
        else:
            func(name)
    return inner
@outer
def wish(name):
      print("Hii",name,"good morning")
wish('raju')
wish('rajesh')

hii raju bad morinig
Hii rajesh good morning

In [97]:
n=int(input("Enter the number:"))
print("countdown start")
def count(n):
    while n>0:
        yield n
        n=n-1
x=count(n)
for i in x:
    print(i)

Enter the number:10
countdown start
10
9
8
7
6
5
4
3
2
1

In [99]:
n=int(input("enter the number:"))
total=1
for i in range(1,n+1):
      total=total*i
print(total)

enter the number:5
120

In [52]:
a,b=10,20
print("a==b" if a==b else"a>b"if a>b else"a<b")

a<b

In [7]:
f=open('d:/rajesh.txt','w')
f.write("ramesh the entire calculated in the virtual environment")

55

In [13]:
year=int(input("enter the year"))
month=int(input("Enter the month"))
import calendar
x=calendar.month(year,month)
print(x)

enter the year2019
Enter the month9
   September 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [14]:
import calendar
x=calendar.calendar(2019)
print(x)

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [16]:
import calendar
x=calendar.TextCalendar(calendar.SUNDAY)
y=x.formatmonth(2019,9)
print(y)

   September 2019
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [19]:
import calendar
for i in calendar.month_name:
    print(i)

January
February
March
April
May
June
July
August
September
October
November
December

In [20]:
import calendar
for i in calendar.day_name:
    print(i)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [9]:
import math
n=int(input("enter the number:"))
try:
    x=math.factorial(n)
    print("this is your factorial number {}".format(x))
except:
    print("negative numbes are not allowed")
finally:
    print("good bye")

enter the number:9
this is your factorial number 362880
good bye

1
3
5
7

In [37]:
from datetime import date
from datetime import datetime
from datetime import time
x=datetime.now()
print(x.strftime("%A-%B-%Y"))

Monday-August-2019

In [5]:
from random import *
for i in range(10):
    print(randint(0,9),randint(0,9),randint(0,9),randint(0,9),end=" ")
    print()

2 3 3 9
7 5 3 6
3 8 7 9
9 1 1 0
8 8 6 2
2 7 8 5
8 3 6 1
0 5 4 7
0 9 3 9
1 8 6 5

In [13]:
n=int(input("Enter the number:"))
m=int(input("Enter the number:"))
print(n+m)

Enter the number:10
Enter the number:10
20

In [1]:
n=int(input("Enter the number:"))
m=int(input("Enter the number:"))
print(n-m)

Enter the number:1000
Enter the number:200
800

In [ ]:
n=input("enter your son name:")
if n=="praveen":
    print("this guy is very worst perosn ")

In [4]:
def decor(func):
    def inner():
        x=func()
        return x*2
    return inner
@decor
def num():
    return 5
print(num())

10

In [8]:
def outer():
    print("this is the outer function")
    def inner():
        print("this is the inner function")
    print("this the returnin the inner fucnction")
    return inner
x=outer()
x()

this is the outer function
this the returnin the inner fucnction
this is the inner function

In [12]:
def outer(func):
    def inner():
        x=func()
        return x.upper()
    return inner
@outer
def raju():
    return "rajesh"
raju()

'RAJESH'

In [93]:
def outer(func):
    def inner(name):
        if name=="rajesh":
            print("hii rajesh bad morning")
        else:
            func(name)
    return inner
@outer
def wish(name):
    print("hello",name,"good morning")
wish("raju")
wish("rajesh")
wish("rakesh")

hello raju good morning
hii rajesh bad morning
hello rakesh good morning

In [19]:
def outer(func):
    def inner():
        x=func()
        return x.upper()
    return inner

def name(n):
    return n
name("raju")

'raju'

In [26]:
def outer(func):
    def inner():
        x=func()
        return x.upper()
    return inner
@outer
def wish():
    return "hii good morning" 
wish()

'HII GOOD MORNING'

In [32]:
def outer(func):
    def inner(name):
        if name=="rakesh":
            print("hii rakesh good evening")
        else:
            func(name)
    return inner
@outer
def wish(name):
    print("hii",name,"good morning")
wish("raju")
wish("ravi")
wish("rajesh")
wish("rakesh")

hii raju good morning
hii ravi good morning
hii rajesh good morning
hii rakesh good evening

In [40]:
def outer(func):
    def inner():
        x=func()
        return x.upper()
    return inner
@outer
def name():
    return "hii this is raju"
name()

'HII THIS IS RAJU'

In [ ]:
from datetime import time
x=datetime.now()
y=x.strftime("%H:%M")
z=y.split(":")
a=int(z[0])
item=input("Enter the item:")
time=input("Enter the time")
b=time.split(":")
c=int(b[0])
if item=="dosa":
    if (c>=7 and c<=10)and(a>=7 and a<=10):
        print("dosa is available")
    else:
        print("dosa is not availbale")
else:
    print("idli is availble")

In [31]:
time=input("Enter the time")
b=time.split(":")
c=int(b[0])
print(c)
type(c)

Enter the time17:34
17

int

In [1]:
import time
time.ctime()

'Fri Sep 20 10:44:38 2019'

In [4]:
import getpass
getpass.getuser()

'RAJU'

In [37]:
def 
for a in range(n):
    m=prices[a]
    n=d[a]
    if m>a:
        c=0
        cost.append(c)
    else:
        c=m-n
        cost.append(c)
print(cost)

[2, 3, 3, 4, 4, 4, 5, 5, 5, 5]

In [52]:
x=[1,2,3,4]
z=[]
for i in range(4):
    y=[]
    for j in range(i):
        y.append(x[j])
    z.append(y)
print(z)

[[], [1], [1, 2], [1, 2, 3]]