In [3]:
import pandas as pd
x=pd.Series()
print(x)

Series([], dtype: float64)

In [5]:
import pandas as pd
import numpy as np
x=np.array(['a','b','c','d'])
y=pd.Series(x)
print(y)

0    a
1    b
2    c
3    d
dtype: object

In [7]:
import pandas as pd
import numpy as np
x=np.array(['a','b','c','d'])
y=pd.Series(x,index=[1,2,3,4])
print(y)

1    a
2    b
3    c
4    d
dtype: object

In [8]:
import pandas as pd
import numpy as np
data={'a':1,'b':2,'c':3,'d':4}
x=pd.Series(data,index=['d','c','b','a'],dtype=float)
print(x)

d    4.0
c    3.0
b    2.0
a    1.0
dtype: float64

In [12]:
import pandas as pd
import numpy as np
s=pd.Series(5,index=[0,1,2,3,4])
print(s)

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [12]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#print(s[0])
#print(s[:])
print(s[-3:])
#print(s['a'])
#print(s[['a','b','c']])
#print(s['f'])

c    3
d    4
e    5
dtype: int64

In [25]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [13]:
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [16]:
import pandas as pd
import numpy as np
x=[['raju',10],['rajesh',20],['ramesh',30],['rakesh',40]]
y=pd.DataFrame(x,index=[1,2,3,4],columns=['name','age'],dtype=str)
print(y)

     name age
1    raju  10
2  rajesh  20
3  ramesh  30
4  rakesh  40

In [28]:
import pandas as pd
data={'name':['tom','jack','steve'],'age':[10,45,67]}
x=pd.DataFrame(data)
print(x)

   age   name
0   10    tom
1   45   jack
2   67  steve

In [30]:
import pandas as pd
data={'name':['tom','jack','steve','ricky'],'age':[12,45,67,55]}
x=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'],columns=['name','age','dkdj'])
print(x)

        name  age dkdj
rank1    tom   12  NaN
rank2   jack   45  NaN
rank3  steve   67  NaN
rank4  ricky   55  NaN

In [33]:
import pandas as pd
data=[{'a':1,'b':2},{'a':5,'b':10,'c':9}]
x=pd.DataFrame(data,index=['first','second'],columns=['a','b'])
print(x)

        a   b
first   1   2
second  5  10

In [4]:
import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
x=pd.DataFrame(d)
x['three']=pd.Series([10,20,30],index=['a','b','c'])
x['four']=x['one']+x['two']
print(x)

   one  two  three  four
a  1.0    1   10.0   2.0
b  2.0    2   20.0   4.0
c  3.0    3   30.0   6.0
d  NaN    4    NaN   NaN

In [6]:
import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
x=pd.DataFrame(d)
x['three']=pd.Series([10,20,30],index=['a','b','c'])
x['four']=x['one']+x['two']
del x['one']
x.pop('two')
print(x)

   three  four
a   10.0   2.0
b   20.0   4.0
c   30.0   6.0
d    NaN   NaN

In [12]:
import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
x=pd.DataFrame(d)
x['three']=pd.Series([10,20,30],index=['a','b','c'])
#print(x)
#print(x.loc['b'])
#print(x.iloc[3])
#print(x[2:4])

   one  two  three
c  3.0    3   30.0
d  NaN    4    NaN

In [15]:
#addition of two columns
import pandas as pd
x=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
y=pd.DataFrame([[5,6],[7,8]],columns=['a','b'])
x=x.append(y)
print(x)
x=x.drop(0)
print(x)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
   a  b
1  3  4
1  7  8

In [23]:
n=int(input("Enter the number:"))
x=str(n)
if "0" in x:
    print("no other strings should be printed")
else:
    y=x[::-1]
    print(int(y))

Enter the number:50
no other strings should be printed