In [2]:
import pandas as pd
x=pd.Series()
print(x)

Series([], dtype: float64)

In [3]:
import pandas as pd
import numpy as np
x=np.array(['a','b','c','d'])
y=pd.Series(x)
print(y)

0    a
1    b
2    c
3    d
dtype: object

In [5]:
import pandas as pd
import numpy as np
x=np.array(['a','b','c','d','e'])
y=pd.Series(x,index=[1,2,3,4,5])
print(y)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [1]:
import pandas as pd
data={'a':1,'b':2,'c':5,'d':6}
x=pd.Series(data)
print(x)

a    1
b    2
c    5
d    6
dtype: int64

In [2]:
import pandas as pd
data={'a':1,'b':2,'c':5,'d':6}
y=pd.Series(data,index=['d','c','b','a'])
print(y)

d    6
c    5
b    2
a    1
dtype: int64

In [23]:
import pandas as pd
data={'a':1,'b':2,'c':5,'d':6}
y=pd.Series(data,index=['d','c','b','a'])
print(y[['a','b','c']])

a    1
b    2
c    5
dtype: int64

In [19]:
import pandas as pd
data={'a':1,'b':2,'c':5,'d':6}
y=pd.Series(data)
print(y[:3])
print(y[-3:])

a    1
b    2
c    5
dtype: int64
b    2
c    5
d    6
dtype: int64

In [24]:
import pandas as pd
x=pd.DataFrame()
print(x)

Empty DataFrame
Columns: []
Index: []

In [25]:
import pandas as pd
data=[1,2,3,4,5,6]
x=pd.DataFrame(data)
print(x)

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [34]:
import pandas as pd
data=[['raju',10],['ramu',45],['ravi',90]]
x=pd.DataFrame(data,index=[1,2,3],columns=['name','age'],dtype=str)
print(x)

   name age
1  raju  10
2  ramu  45
3  ravi  90

In [41]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
x=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(x)

       Age   Name
rank1   28    Tom
rank2   34   Jack
rank3   29  Steve
rank4   42  Ricky

In [11]:
import pandas as pd
data=[{'a':1,'b':2},{'a':3,'b':4,'c':5}]
x=pd.DataFrame(data,index=['rank','rank3'])
print(x)
print(x['a'])
print(x.loc['rank'])
print(x.iloc[0])

       a  b    c
rank   1  2  NaN
rank3  3  4  5.0
rank     1
rank3    3
Name: a, dtype: int64
a    1.0
b    2.0
c    NaN
Name: rank, dtype: float64
a    1.0
b    2.0
c    NaN
Name: rank, dtype: float64

In [4]:
import pandas as pd
data={'name':pd.Series([1,2,3,4,5],index=['a','b','c','d','e']),'age':pd.Series([12,34,54,65,66,78],index=['a','b','c','d','e','f'])}
x=pd.DataFrame(data)
x['adress']=pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])
x['phno']=x['name']+x['adress']
print(x[2:4])

   age  name  adress  phno
c   54   3.0       3   6.0
d   65   4.0       4   8.0

In [6]:
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
x=df.append(df2)
print(x)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [111]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
x=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(x)
print(x.axes)
print(x.empty)
print(x.ndim)
print(x.size)
print(x.values)
print(x.head(2))
print(x.tail(2))

       Age   Name
rank1   28    Tom
rank2   34   Jack
rank3   29  Steve
rank4   42  Ricky
[Index(['rank1', 'rank2', 'rank3', 'rank4'], dtype='object'), Index(['Age', 'Name'], dtype='object')]
False
2
8
[[28 'Tom']
 [34 'Jack']
 [29 'Steve']
 [42 'Ricky']]
       Age  Name
rank1   28   Tom
rank2   34  Jack
       Age   Name
rank3   29  Steve
rank4   42  Ricky

In [3]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
x=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(x.T)
print(x.axes)
print(x.dtypes)
print(x.shape)

[Index(['rank1', 'rank2', 'rank3', 'rank4'], dtype='object'), Index(['Age', 'Name'], dtype='object')]

In [29]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}
x=pd.DataFrame(d)
#print(x)
#print(x.sum())
#print(x.sum(1))
#print(x.mean())
#print(x.std())
#print(x.count())
#print(x.median())
#print(x.mode())
#print(x.max())
#print(x.prod())
#print(x.cumsum())
#print(x.describe(include=['object']))
#print(x.describe(include='all'))
#print(x.sort_index(ascending=False))
#print(x.sort_index(axis=1))

    Age    Name  Rating
11   46  Andres    3.65
10   51  Betina    4.10
9    30  Gasper    4.80
8    40   David    2.98
7    34     Lee    3.78
6    23    Jack    3.80
5    29   Smith    4.60
4    30   Steve    3.20
3    23     Vin    2.56
2    25   Ricky    3.98
1    26   James    3.24
0    25     Tom    4.23

In [27]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}
x=pd.DataFrame(d)
print(x.sort_values(by='Age',kind='mergesort'))

    Age    Name  Rating
3    23     Vin    2.56
6    23    Jack    3.80
0    25     Tom    4.23
2    25   Ricky    3.98
1    26   James    3.24
5    29   Smith    4.60
4    30   Steve    3.20
9    30  Gasper    4.80
7    34     Lee    3.78
8    40   David    2.98
11   46  Andres    3.65
10   51  Betina    4.10

In [165]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])
#print(s.str.lower())
#print(s.str.upper())
#print(s.str.len())
#print(s.str.strip(','))
#print(s.str.split(' '))
#print(s.str.cat(sep='_'))
#print(s.str.get_dummies())

   1234  Alber@t  John  SteveSmith  Tom  William Rick
0     0        0     0           0    1             0
1     0        0     0           0    0             1
2     0        0     1           0    0             0
3     0        1     0           0    0             0
4     0        0     0           0    0             0
5     1        0     0           0    0             0
6     0        0     0           1    0             0

In [12]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.np.random.randn(5), index=list('abcde'))
print(s)
s['d'] = s['b'] # so there's a tie
print(s.rank())

a    1.788047
b   -1.984793
c    0.427916
d   -0.524903
e    1.189855
dtype: float64
a    5.0
b    1.5
c    3.0
d    1.5
e    4.0
dtype: float64

In [21]:
import pandas as pd
data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
#x= pd.DataFrame(data)
#print(x)
#print(x.groupby('Rank').groups)
#print(x.groupby(['Rank','Year']).groups)
#y=x.groupby('Rank')
#print(y.get_group(2014))
df = pd.DataFrame(data)

grouped = df.groupby('Rank')
print(grouped.get_group(1))

    Points  Rank    Team  Year
0      876     1  Riders  2014
6      756     1   Kings  2016
7      788     1   Kings  2017
10     804     1  Royals  2015

In [16]:
import pandas as pd
data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(data)
print(df.groupby('Team').filter(lambda x: len(x)>=3))
#print(grouped.agg(np.size))
#print(grouped['Points'].agg([np.sum,np.mean,np.std]))
#filter(lambda x:len(x)>=3))

    Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
4      741     3   Kings  2014
6      756     1   Kings  2016
7      788     1   Kings  2017
8      694     2  Riders  2016
11     690     2  Riders  2017

In [26]:
import pandas as pd
x = pd.DataFrame({'id':[1,2,3,4,5],'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],'subject_id':['sub1','sub2','sub4','sub6','sub5']})
y = pd.DataFrame( {'id':[1,2,3,4,5],'Name': ['Billy', 'Brian', 'Alex', 'Bryce', 'Betty'],'subject_id':['sub2','sub4','sub3','sub6','sub5']})
#print(x)
#print(pd.merge(x,y,on=['id','subject_id']))
#print(pd.merge(x,y,on='subject_id',how='left'))
#print(pd.merge(x,y,on='Name',how='right'))
#print(pd.merge(x,y,on='subject_id',how='outer'))
#print(pd.merge(x,y,on='subject_id',how='inner'))
#print(pd.concat([x,y]))

    Name  id_x subject_id_x  id_y subject_id_y
0   Alex   1.0         sub1     3         sub3
1  Billy   NaN          NaN     1         sub2
2  Brian   NaN          NaN     2         sub4
3  Bryce   NaN          NaN     4         sub6
4  Betty   NaN          NaN     5         sub5