In [1]:
import pandas as pd
x=pd.Series()
print(x)

Series([], dtype: float64)

In [3]:
import pandas as pd
import numpy as np
x=np.array([1,2,3,4,5])
y=pd.Series(x,index=[1,2,3,4,5])
print(y)

1    1
2    2
3    3
4    4
5    5
dtype: int32

In [6]:
import pandas as pd
data={"a":1,"b":2,"c":3}
x=pd.Series(data,index=['c','b','a'],dtype=float)
print(x)

c    3.0
b    2.0
a    1.0
dtype: float64

In [7]:
import pandas as pd
x=pd.Series(5,index=['a','b','c','d'])
print(x)

a    5
b    5
c    5
d    5
dtype: int64

In [12]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[['a','b','c']])

a    1
b    2
c    3
dtype: int64

In [15]:
import pandas as pd
data=[['Alex',10],['Bob',12],['Clarke',13]]
x=pd.DataFrame(data,columns=["name","age"])
print(x)

     name  age
0    Alex   10
1     Bob   12
2  Clarke   13

In [18]:
import pandas as pd
data={'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
x=pd.DataFrame(data,index=['r1','r2','r3','r4'])
print(x)

    Age   Name
r1   28    Tom
r2   34   Jack
r3   29  Steve
r4   42  Ricky

In [3]:
x={'a':"apple",'b':'banana',{'c':'orange','d':'dog'}}
print(x)

SyntaxError: invalid syntax (<ipython-input-3-ac7f13fac104>, line 1)

In [21]:
import calendar
x=calendar.calendar(2019)
print(x)

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [22]:
for i in calendar.mont
    print(i)

TypeError: formatmonth() missing 2 required positional arguments: 'theyear' and 'themonth'

In [25]:
for i in calendar.month_name:
    print(i)

January
February
March
April
May
June
July
August
September
October
November
December

In [26]:
for j in calendar.day_name:
    print(j)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [5]:
n=int(input("Enter the input:"))
arr=[1,3,2,5,8]
def integerflag(arr,n):
    total=0
    if n==1:
        for i in arr:
            if i%2==0:
                total=total+i
    if n==2:
        for i in arr:
            if i%2!=0:
                total=total+i
    return total
integerflag(arr,n)

Enter the input:2

9

In [18]:
arr=[2,3,5,7,15,21]
def conditions(arr):
    total=0
    for i in arr:
        if i%21==0:
            i=i*4
        elif i%7==0:
            i=i*3
        elif i%3==0:
            i=i*2
        total=total+i
    return total
conditions(arr)

148

In [17]:
string=input("enter the input:")
x=[]
for j in string:
    k=string.count(j)
    x.append(k)
for i in string:
    if string.count(i)==max(x) and string.count(i)>=3:
        print(i)
        break
        
else:
        print("No Such Character")

enter the input:
No Such Character

In [14]:
x="aanndkdknkkk"
y=[]
for i in x:
    print(x.count(i),)

2
2
3
3
2
5
2
5
3
5
5
5